<div class='container'>
  <div class='row main'>
      <div class='col xl8 s12 center-align'>
        <%= image_tag '/logo1.png', class: 'responsive-img' %>
        
        <div class='title-box'>
          <div class='row'>
            <h2 class='subtitle'>Converta facilmente suas Moedas</h2>
            <h3 class='subtitle'>Para qualquer moeda do Mundo!</h3>
          </div>
        </div>
    </div> 

    <div class='col xl4 s12'>
      <%= render 'shared/exchange_box' %>
    </div>
    
  </div>
</div>