<div class="col s12 l12 exchange_box">
  <div class="card">
    <div class="card-title center-align blue lighten-2">
      Simule sua conversão
    </div>

    <div class="card-content">
      <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>
        <div class="local_currency">
          <div class="input-field">
            <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), id: 'source_currency' %>
            <label>Moeda local:</label>
          </div>

          <div class="input-field">
            <input type="number" name="amount" id="amount" placeholder="Quantidade ($10)" step="any" required>
          </div>
        </div>

        <div class="row center-align">
          <button class="btn btn-exchange blue lighten-2" id="btn_change_currencys" name="btn_change_currencys">
            <i class="large material-icons ">autorenew</i>
          </button>
        </div>

        <div class="destination_currency">
          <div class="input-field">
            <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), id: 'target_currency' %>
            <label>Moeda Pretendida:</label>
          </div>
          
          <div class="input-field">
            <input type="text" name="result" id="result" placeholder="Resultado" readonly>
          </div>
        </div>
        <!--
        <div class="row">
          <button type="submit" class="btn btn-exchange col s12">CONVERTER</button>
        </div>
      -->
      <% end %>
    </div>
  </div>
</div>