.exchange_box {
    .card {
        border: 0;
        border-radius: 10px;
        box-shadow: 5px 5px 30px #000;

        .card-title {
            text-shadow: 1px 0px 3px #000;
            border-radius: 9.5px 9.5px 0 0;
            color: white;
            font-weight: 400;
            height: 45px;
            border-bottom: 1px solid grey;
        }

        .card-content {
            padding-top: 10px;
            padding: 20px;

            .title {
                color: #878d99;
                font-weight: 700;
            }

            .btn-exchange {
                text-shadow: 5px 5px 30px #000;
                border-radius: 0;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .card-title {
        font-size: 16px;
    }

    .title {
        margin-top: 30px;
        font-size: 20px;
    }

    .input-field {
        select {
            font-size: 20px;
            height: 50px !important;
        }

        input {
            font-size: 20px;
            height: 50px;
        }
    }

    #result {
        margin-bottom: 10px;
    }

    .btn-exchange {
        text-shadow: 5px 5px 30px #000;
        font-size: 20px;
    }
}